h1 {
  position: relative;
  text-align: center;
  font-family: impact;
}

body {
  background-image: url('menuBGMagenta.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-weight: bold;
}
img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
audio {
  z-index: 2;
}

